@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: linear-gradient(135deg, #fdf6e3, #e0d4c3);
  color: #2c3e50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Typography */
h1, h2, h3 {
  font-family: 'Times New Roman', serif;
  color: #2c3e50;
}

p {
  font-family: 'Arial', sans-serif;
  color: #555;
}

a {
  text-decoration: none;
}
